{% extends "base.html" %}

{% block title %}Войти в профиль{% endblock %}

{% block content %}
    <h1>Войти в профиль</h1>
    <div class="module">
        {% if form.errors %}
            <p>Неправильное имя пользователя или пароль. Пожалуйста, попробуйте ещё раз.</p>
        {% else %}
            <p>Пожалуйста, используйте следующую форму, чтобы войти:</p>
        {% endif %}
        <div class="login-form">
            <form action="{% url 'login' %}" method="post">
                {{ form.as_p }}
                {% csrf_token %}
                <input type="hidden" name="next" value="{{ next }}" />
                <p><input type="submit" value="Войти"></p>
            </form>
        </div>
    </div>
{% endblock %}